extends ../templates/template


block main
	a(href="/index" class="btn-back") Volver
	div(class="contain-inv")
		a(class="btn-buy" href="/ventas") Ver ventas
		label(for="tasa-dolar") 
			h1 Ingrese tasa del dolar
		input(type="number" id="tasa-dolar" placeholder="tasa del dólar actual..." name="tasa-dolar" step="0.01")

		
						
	div(class="contain-sells")
		h1(class="title-sells") Ventas:
		ul(class="list-sales")
			each sale in sales.reverse()
				a(href="/edit/"+sale.id class="sale-contain-link")
					li(id=sale.id class="sale-contain")
						div(class="products-contain")
							p(class="sale-client")= sale.client
									each items, index in sale.product
										p(class="sale-product")= "- "+items 
											span(class="amount")= "("+sale.amount[index]+")"
						p(class="total-dolar")= "total $: "+ sale.priceTotalAllDolar
						p(class="total-bs")= "total bs: "+ sale.priceTotalAllBs
						-var fecha = sale.createdAt
						p(class="fecha" id="fecha") #{String(fecha).slice(0,16)}
							   
	script
		include ../js/inventario/ventas/addArticle.js
	script 
		include ../js/inventario/ventas/showForm.js
	script
		include ../js/shared/calcSystem.js