extends ../templates/template


block main
	span(id="tasa-actual" class="tasa-actual-invi") #{tasadolar[0].tasadolar}
	div(class="container-inv")
		
		a(class="btn-ventas" href="/ventas")
			span(class="contain-btn-ventas")
					img(src="/sells.png")
					p Ver ventas
		div(class="contain-inv")
			h1(class="title-inv") Inventario
			div 
			form(action="/tasadolar" method="POST" class="form-input-tasadolar")
				label(for="input-tasadolar" class="tasa-dolar-label-inv") Tasa Dolar
				input(id="input-tasadolar" step="0.01" type="number" class="input-tasadolar-inv" name="tasadolar" value=`${tasadolar[0].tasadolar}`) 
				div(class="contain-btn-tasa-dolar")
					button(type="submit") Establecer Tasa Dolar
			div(class="contain-table-inv")
				form(action="/editInv" method="POST")
					table(class="table-inv")
						tbody(id="tbody-inv")
							tr(class="camps-inv")
								td
								td Id
								td Artículo
								td Precio $
								td Cantidad
								td
							each article in articles.reverse()
								each articulo, index in article.articulo
									tr
										td 
											span #
										td
											input(name="id" autocomplete="off" oninput="activeChange()" required value=`${article.id[index]}`)
										td 
											input(name="articulo" autocomplete="off" oninput="activeChange()" value=`${articulo}` required)
										td
											input(step="0.01"  autocomplete="off" type="number" oninput="activeChange()" name="precioDolar" value=`${article.precioDolar[index]}` required)
										td
											input(step="0.01" autocomplete="off" type="number"  oninput="activeChange()" name="cantidad" value=`${article.cantidad[index]}` required)
										td(class="btn-delete-art" onClick="removeArt(this)") Eliminar
					div(class="btn-inv-content")
						button(onClick="addArticleInv()" class="btn-inv" id="add-article") Añadir Artículo
						button(type="submit" id="save-changes" class="btn-inv save-changes") Guardar cambios
	script
		include ../js/inventario/index.js